# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

- Python
- R
- SQL
- Java
- C++

- NumPy
- Pandas
- Matplotlib
- TensorFlow
- PyTorch
- Scikit-learn
- Requests
- Keras
- Seaborn

### Data Science Tools

| Tool Name      |
|---------------|
| Jupyter Notebook |
| RStudio        |
| Apache Spark   |
| TensorFlow     |
| PyTorch       |
| Tableau        |
| RapidMiner     |

## Arithmetic Expression Examples

Arithmetic expressions are mathematical calculations that involve numbers and operators such as addition, subtraction, multiplication, and division.

In [4]:
# Multiplication and Addition

# Define numbers
num1 = 5
num2 = 3
num3 = 7

# Perform operations
multiplication_result = num1 * num2
addition_result = multiplication_result + num3

# Print results
print("Multiplication Result:", multiplication_result)
print("Final Result after Addition:", addition_result)

Multiplication Result: 15
Final Result after Addition: 22

In [6]:
# Convert minutes to hours

# Define minutes
minutes = 150

# Convert to hours
hours = minutes / 60

# Print result
print(f"{minutes} minutes is equal to {hours} hours")

150 minutes is equal to 2.5 hours

# Introduction to Data Science Tools

Data Science involves various tools that help in data analysis, visualization, machine learning, and more. Below is a list of some commonly used Data Science tools:

- Jupyter Notebook  
- RStudio  
- Apache Spark  
- TensorFlow  
- Scikit-learn